#
# IPSC Bridge Global Parameters
#
[BridgeGlobal]
Gateway = 127.0.0.1                             # IP address of Partner Application (fne_bridge)
FromGatewayPort = 31000                         # Port IPSC_Bridge is listening on for data  (IPSC_Bridge <--- Partner [fne_bridge])
ToGatewayPort = 31003                           # Port Partner is listening on for data  (IPSC_Bridge ---> Partner [fne_bridge])
