#
# Global System Parameters
#   Path           - working path for files, leave it alone unless you NEED to change it
#   PingTime       - the interval that clients will ping the master, and re-try registraion
#                    how often the Master maintenance loop runs
#   MaxMissed      - how many pings are missed before we give up and re-register
#                    number of times the master maintenance loop runs before de-registering a client
[Global]
Path: ./
PingTime: 5
MaxMissed: 3

#
# Network Reporting Configuration
#   Enabling "REPORT" will configure a socket-based reporting
#   system that will send the configuration and other items
#   to a another process (local or remote) that may process
#   the information for some useful purpose, like a web dashboard.
#
#   Report         - True to enable, False to disable
#   ReportInterval - Seconds between reports
#   ReportPort     - TCP port to listen on if "REPORT_NETWORKS" = NETWORK
#   ReportClients  - comma separated list of IPs you will allow clients
#                    to connect on. Entering a * will allow all.
#
[Reports]
Report: False
ReportInterval: 60
ReportPort: 4321
ReportClients: 127.0.0.1

#
# Logging Configuration
#   This allows the logger to be configured without chaning the individual
#   python logger stuff. LOG_FILE should be a complete path/filename for *your*
#   system -- use /dev/null for non-file handlers.
#
#   LogHandlers    - may be any of the following, please, no spaces in the
#                    list if you use several:
#                      null
#                      console
#                      console-timed
#                      file
#                      file-timed
#                      syslog
#   LogLevel       - may be any of the standard syslog logging levels, though
#                    as of now, DEBUG, INFO, WARNING and CRITICAL are the only ones
#                    used.
#	RawPacketTrace -
#   AllowActTrans  -
#   ActivityLogFile-
#
[Log]
LogFile: /tmp/fne.log
LogHandlers: console-timed
LogLevel: DEBUG
RawPacketTrace: False
LogName: FNE
AllowActTrans: False
ActivityLogFile: /tmp/act.log

#
# Aliases and ID Configuration
#   Subscriber Whitelist and Blacklist Aliases
#
[Aliases]
Path: ./
WhitelistRIDsFile: whitelist_ids.csv
BlacklistRIDsFile: blacklist_ids.csv
StaleDays: 7

#
# Export AMBE Data
#   This is for exporting AMBE audio frames to an "external" process for
#   decoding or other nefarious actions.
#
[ExportAMBE]
Address: 127.0.0.1
Port: 1234

#
# Export Packet Data
#   This is for exporting packet data frames to an "external" process for
#   decoding or other nefarious actions.
#
[PacketData]
Port: 1234
Gateway: 127.0.0.1
GatewayPort: 1234

#
# Master Instances
#  Mode            - Always "master"
#  Enabled         - True, the MASTER is enabled, FALSE it is not enabled
#  Repeat          - True, the MASTER repeats traffic to peers, FALSE, it does nothing
#  ExportAMBE      -
#  PacketData      -
#  Address         - May be left blank if there's one interface on your system.
#  Port            - Should be the port you want this master to listen on. It must be unique
#                    and unused by anything else.
#  Passphrase      -
#  GroupHangtime   -
#

[Master]
Mode: master
Enabled: True
Repeat: True
ExportAMBE: False
PacketData: False
Address:
Port: 54000
Passphrase: s3cr37w0rd
GroupHangtime: 5

#
# Peer Instances
#  Mode            - Always "peer"
#  Enabled         - True, the PEER is enabled, FALSE it is not enabled
#  ExportAMBE      -
#  PacketData      - 
#  Address         - May be left blank if there's one interface on your system.
#  Port            - Should be the port you want this master to listen on. It must be unique
#                    and unused by anything else.
#  MasterAddres    - IP address of the MASTER to connect to.
#  MasterPort      - Port on the master to connect to.
#  Passphrase      -
#  Callsign        - Textual alias of the peer
#  PeerId          - Unique numeric ID identifying the peer
#  RxFrequency     -
#  TxFrequency     -
#  TxOffsetMhz     -
#  TxPower         -
#  Latitude        -
#  Longitude       -
#  Height          -
#  Location        -
#  Slots           -
#  SoftwareId      -
#  PackageId       -
#  GroupHangtime   -
#

[Parrot]
Mode: peer
Enabled: True
ExportAMBE: False
PacketData: False
Address: 
Port: 54001
MasterAddress: 172.16.1.1
MasterPort: 54000
Passphrase: s3cr37w0rd
Callsign: PARROT
PeerId: 312000
RxFrequency: 451800000
TxFrequency: 456800000
TXOffsetMhz: 5
BandwidthKhz: 12.5
TxPower: 25
Latitude: 38.0000
Longitude: -095.0000
Height: 75
Location: Anywhere, USA
Slots: 1
SoftwareId: DVM FNE
PackageId: DVM FNE Parrot
GroupHangtime: 5
