<h3>System Command</h3>
<table>
    <colgroup>
        <col style="width: 20%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 5%" />
        <col style="width: 10%" />
    </colgroup>
    <thead>
        <tr>
            <th>Peer</th>
            <th>Command</th>
            <th>Argument</th>
            <th>Mot MFId</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    {% if _table['PEERS']|length == 0 %}
    <tbody>
        <tr>
            <td style="font-weight: bold;">{{ _master }}</td>
            <td colspan="4">No connected peers</td>
        </tr>
    </tbody>
    {% endif %}
    {% if _table['PEERS']|length > 0 %}
    <tbody>
        <tr>
            <td>
                <select id="cmd_peer_id" style="width: 100%;">
                {% for _peer, _pdata in _table['PEERS'].iteritems() %}
                    <option value="{{ _pdata['IP'] }}">{{ _peer }} ({{ _pdata['CALLSIGN'] }})</option>
                {% endfor %}
                </select>
            </td>
            <td>
                <select id="cmd_type" style="display: inline-block; width: 85%;">
                    <option value="p25-cc">Trigger P25 CC</option>
                    <option value="dmr-beacon">Trigger DMR Beacon</option>
                    <option value="dmr-rid-page">[DMR] Radio Page</option>
                    <option value="dmr-rid-check">[DMR] Radio Check</option>
                    <option class="span-danger" value="dmr-rid-uninhibit">[DMR] Uninhibit</option>
                    <option value="p25-rid-page">[P25] Radio Page</option>
                    <option value="p25-rid-check">[P25] Radio Check</option>
                    <option class="span-danger" value="p25-rid-uninhibit">[P25] Uninhibit</option>
                    <option value="p25-rid-gaq">[P25] Group Aff. Query</option>
                    <option value="p25-rid-ureg">[P25] Unit Reg. Command</option>
                    <option class="span-danger" value="p25-rel-grnts">[P25] Force Clear Channel Grants</option>
                    <option class="span-danger" value="p25-rel-affs">[P25] Force Clear Group Affiliations</option>
                </select>
                <input type="checkbox" name="confirm" id="cmd_confirm" value="cmd_confirm" style="display: none;" />
            </td>
            <td>
                <select id="cmd_slot_no" style="display: none; width: 25%;">
                    <option value="1">Slot 1</option>
                    <option value="2">Slot 2</option>
                </select>
                <input type="number" style="display: inline-block; width: 75%;" name="argument" id="cmd_arg" min="1" max="16777314" value="1" />
            </td>
            <td><input type="checkbox" name="mot_mfid" id="cmd_mot_mfid" value="cmd_mot_mfid" /></td>
            <td><button name="send" id="cmd_send_btn" style="width: 100%;">Transmit</button></td>
        </tr>
    </tbody>
    {% endif %}
</table>
