<h3>Group Affiliations</h3>
<table>
    <thead>
        <tr>
            <th width="15%">&nbsp;</th>
            <th width="5%">Peer ID</th>
            <th width="5%">&nbsp;</th>
            <th width="15%">&nbsp;</th>
            <th width="10%">Source</th>
            <th width="10%">Target</th>
            <th width="20%">&nbsp;</th>
            <th width="20%">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% if _table.items()|length == 0 %}
        <tr><td colspan="8">No subscriber affiliations.</td></tr>
        {% else %}
            {% for _rid, _aff_data in _table.items() %}
            <tr>
                <td>&nbsp;</td>
                <td>{{ _aff_data['PEER_ID'] }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{ _rid }}</td>
                <td>{{ _aff_data['DST_ID'] }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
