<h3>Master Systems</h3>
<table>
    <colgroup>
        <col style="width: 20%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 10%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 10%" />
    </colgroup>

    {% if _table['MASTERS']|length == 0 %}
    <thead>
        <tr><th colspan="7">Loading master systems ... this may take some time!</th></tr>
    </thead>
    {% endif %}
    {% for _master in _table['MASTERS'] %}
    <thead>
        <tr>
            <th>System</th>
            <th>Peer</th>
            <th>Callsign</th>
            <th>Rx Freq</th>
            <th>Tx Freq</th>
            <th>Connection</th>
            <th>Pings Recv.</th>
            <th>IP</th>
            <th>Port</th>
        </tr>
    </thead>
    {% if _table['MASTERS'][_master]['PEERS']|length == 0 %}
    <tbody>
        <tr>
            <td style="font-weight: bold;">{{ _master }}</td>
            <td colspan="6">No connected peers</td>
        </tr>
    </tbody>
    {% endif %}
    {% if _table['MASTERS'][_master]|length > 0 %}
    <tbody>
        {% for _peer, _pdata in _table['MASTERS'][_master]['PEERS'].iteritems() %}
        <tr>
            <td style="font-weight: bold;">{{ _master }}</td>
            <td>{{ _peer }}</td>
            <td>{{ _pdata['CALLSIGN'] }}</td>
            <td>{{ _pdata['RX_FREQ'] }}</td>
            <td>{{ _pdata['TX_FREQ'] }}</td>
            <td class="{{ 'table-col-success' if _pdata['CONNECTION'] == 'YES' else 'table-col-danger' }}">{{ _pdata['CONNECTION'] }}</td>
            <td>{{ _pdata['PINGS_RECEIVED'] }}</td>
            <td>{{ _pdata['IP'] }}</td>
            <td>{{ _pdata['PORT'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
    {% endfor %}
</table>

<h3>Peer Systems</h3>
<table>
    <colgroup>
        <col style="width: 20%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 10%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 10%" />
    </colgroup>

    {% if _table['PEERS']|length == 0 %}
    <thead>
        <tr><th colspan="7">Loading peer systems ... this may take some time!</th></tr>
    </thead>
    {% endif %}
    {% if _table['PEERS']|length > 0 %}
    <thead>
        <tr>
            <th>System</th>
            <th>Peer</th>
            <th>Callsign</th>
            <th>Rx Freq</th>
            <th>Tx Freq</th>
            <th>Connection</th>
            <th>Ping Sent</th>
            <th>Ping Ack</th>
            <th>Master</th>
        </tr>
    </thead>
    <tbody>
        {% for _peer in _table['PEERS'] %}
        <tr>
            <td style="font-weight: bold;"> {{ _peer }} </td>
            <td>{{ _table['PEERS'][_peer]['PEER_ID'] }}</td>
            <td>{{ _table['PEERS'][_peer]['CALLSIGN'] }}</td>
            <td>{{ _table['PEERS'][_peer]['RX_FREQ'] }}</td>
            <td>{{ _table['PEERS'][_peer]['TX_FREQ'] }}</td>
            <td class="{{ 'table-col-success' if _table['PEERS'][_peer]['STATS']['CONNECTION'] == 'YES' else 'table-col-danger' }}">{{ _table['PEERS'][_peer]['STATS']['CONNECTION'] }}</td>
            <td>{{ _table['PEERS'][_peer]['STATS']['PINGS_SENT'] }}</td>
            <td>{{ _table['PEERS'][_peer]['STATS']['PINGS_ACKD'] }}</td>
            <td>{{ _table['PEERS'][_peer]['MASTER_IP'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
