body {
    font-size: .875rem;
}

h1 {
    border-bottom: #383c41 1px solid;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Header
 */
.header-alert {
    margin-bottom: 0;
    float: left;
    width: 100%;
    border-radius: 0;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #aaa;
}

    .sidebar .nav-link:hover {
        background-color: #383c41 !important;
    }

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
        background-color: #383c41 !important;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.dropdown-menu {
    overflow-y: auto;
    max-height: 45vh;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 64px; /* Space for fixed navbar */
}

.table-controls {
    float: left;
    position: relative;
    top: 3px;
    margin-right: 0;
}

.table-controls-vis {
    float: left;
    position: relative;
    top: 21px;
    margin-right: 0;
}

.table-disabled {
    background-color: #383c41 !important;
    color: #bbb;
}

.jumbotron.small-pad {
    padding: 15px !important;
}

.pre-trace {
    height: 75vh;
    overflow-y: scroll;
    text-align: left;
    margin: 0;
}

.fixed-table-loading {
    background: #383c41 !important;
}
    .fixed-table-loading .loading-wrap .loading-text {
        font-size: 20px !important;
    }

/*
 * Navbar
 */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar-nav-row {
    flex-direction: row;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

/*
 * Scrollbar
 */

::-webkit-scrollbar {
    visibility: hidden;
    background: transparent;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    visibility: hidden;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #383c41 !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !important;
    border-left: solid 1px #272b30 !important;
    border-right: solid 1px #272b30 !important;
    border-radius: 64px;
}

::-webkit-scrollbar-thumb {
    background: #5a5e63 !important;
    border-radius: 64px;
}

::-webkit-scrollbar-button:vertical:increment {
    background: #5a5e63 !important;
    border-bottom-left-radius: 2px !important;
    -moz-border-bottom-left-radius: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    -moz-border-bottom-right-radius: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
}

::-webkit-scrollbar-button:vertical:decrement {
    background: #5a5e63 !important;
    border-top-left-radius: 2px !important;
    -moz-border-top-left-radius: 2px !important;
    -webkit-border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    -moz-border-top-right-radius: 2px !important;
    -webkit-border-top-right-radius: 2px !important;
}
